<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <title>GSM MANAGER</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="../static/vendors/ti-icons/css/themify-icons.css" th:href="@{/vendors/ti-icons/css/themify-icons.css}"/>
  <link rel="stylesheet" href="../static/vendors/base/vendor.bundle.base.css" th:href="@{/vendors/base/vendor.bundle.base.css}"/>
  
  <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}"/>
  <!-- endinject -->
  <link rel="shortcut icon" href="../static/images/favicon.png" th:href="@{/images/favicon.png}"/>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>

</head>
<body>
  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
      <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
        <a class="navbar-brand brand-logo mr-5" href="index.html"><img src="images/aa.jpg" class="mr-2" alt="logo"/></a>
        <a class="navbar-brand brand-logo-mini" href="index.html"><img src="images/aa.jpg" alt="logo"/></a>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
        <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
          <span class="ti-view-list"></span>
        </button>
        <ul class="navbar-nav mr-lg-2">
          <li class="nav-item nav-search d-none d-lg-block">
            <div class="input-group">
              <div class="input-group-prepend hover-cursor" id="navbar-search-icon">
                <span class="input-group-text" id="search">
                  <i class="ti-search"></i>
                </span>
              </div>
              <input type="text" class="form-control" id="navbar-search-input" placeholder="Search now" aria-label="search" aria-describedby="search"/>
            </div>
          </li>
        </ul>
        <ul class="navbar-nav navbar-nav-right">
          
        	
          <li class="nav-item nav-profile dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
              <img src="images/logo.png" alt="profile"/>
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
              
              <a class="dropdown-item" th:href="@{/login?logout}">
                <i class="ti-power-off text-primary"></i>
                Logout
              </a>
            </div>
          </li>
        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
          <span class="ti-view-list"></span>
        </button>
      </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
              <i class="ti-shield menu-icon"></i>
              <span class="menu-title">Gestion d'organisme</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-basic">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="Personnels.html">Gestion du personnels</a></li>
                <li class="nav-item"> <a class="nav-link" href="entites.html">Gestion des entites</a></li>
              </ul>
            </div>
          </li>
         
        
          <li class="nav-item">
          <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
              <i class="ti-user menu-icon"></i>
              <span class="menu-title">Gestion Puces</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="auth">
              <ul class="nav flex-column sub-menu">
               <li class="nav-item"> <a class="nav-link" href="puces.html"> 	Listes puces </a></li>
              
                <li class="nav-item"> <a class="nav-link" href="affectations.html"> 	Affectation puces </a></li>
                <li class="nav-item"> <a class="nav-link" href="dotations.html">  Gestion dotations </a></li>
               
              </ul>
            </div>
          </li>
         
        </ul>
      </nav>
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-md-12 grid-margin">
              <div class="d-flex justify-content-between align-items-center">
                <div>
                  <h4 class="font-weight-bold mb-0">Listes Des Puces</h4>
                </div>
                <div>
                    <button type="button" class="btn btn-primary btn-icon-text btn-rounded" data-toggle="modal" data-target="#modalPush">
                       <i class="ti-plus"></i> Ajouter Personnel
                    </button>
                </div>
         
                <div class="modal fade" id="modalPush" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-notify modal-info" role="document">
 

    <!--Content-->
    <div class="modal-content">
                  <div class="modal-content text-center">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Formulaire</h4>
                  <p class="card-description">
                    Entrer les informations du personnel
                  </p>
                 <form class="forms-sample" th:action="@{/creerPuce}" method="POST">
                   <div class="form-group">
                      <label for="exampleInputUsername1">Numero de puce</label>
                      <input type="text" class="form-control" id="exampleInputMobile"  name="numero" placeholder="Veuillez saisir le matricule"/>
                    </div>
                    <div class="form-group">
                      <label for="exampleInputEmail1">Code puce</label>
                      <input type="text" class="form-control" id="exampleInputUsername1"  name="code" placeholder="Veuillez saisir le nom"/>
                    </div>
                    <div class="form-group">
                      <label for="exampleInputPassword1">Type de puce</label>
<select class="form-control" id="exampleInputPassword1" name="type_puce">
                            <option  th:text="Data"  th:value="data" ></option>
                            <option   th:text="Voix" th:value="voix"></option>
                        
                        </select>                    
                        </div>
                    <div class="form-group">
                      <label for="exampleInputPassword1">Etat de puce</label>
                      <select class="form-control" id="exampleInputPassword1" name="etat">
                            <option  th:text="en+' '+Stock"  th:value="enStock" ></option>
                            <option   th:text="Résilliée" th:value="resilliee"></option>
                            <option   th:text="Affectée" th:value="affectee"></option>
                            
                        
                        </select> 
                    </div>
                    <div class="form-group">
                      <label for="exampleInputConfirmPassword1" >Observation</label>
                       <input type="text" class="form-control" id="exampleInputConfirmPassword1"  name="observation" placeholder="-- Facultatif --"/>

                      </div>
                    <button type="submit" class="btn btn-primary mr-2">Ok</button>
                    <button type ="button" class="btn btn-light" data-dismiss="modal">Annuler</button>
                  </form>
                </div>
              </div>
            </div>
            
             </div>
    <!--/.Content-->

  </div>
</div>
<!--Modal: modalYT-->   
              </div>
            </div>
            <!-- Edit Modal HTML -->
   
          
          
          <div class="row">
                      <div class="col-md-12 grid-margin stretch-card">
          
              
              <form th:action="@{recherchePuce}" method="GET">
              <ul class="navbar-nav mr-lg-8">
          <li class="nav-item nav-search d-none d-lg-block">
            <div class="input-group">
              <div class="input-group-prepend hover-cursor" id="navbar-search-icon">
                <span class="input-group-text" id="search">
                  <i class="ti-search"></i>
                </span>
              </div>
               <select class="form-control" id="navbar-search-input" name="etat"  aria-label="search" aria-describedby="search">
                            <option  th:text="en+' '+Stock"  th:value="enStock" ></option>
                            <option   th:text="Résilliée" th:value="resilliee"></option>
                            <option   th:text="Affectée" th:value="affectee"></option>
                            
                        
                        </select> 
              &nbsp; &nbsp;&nbsp;
                                         <button type="submit" class="btn btn-outline-primary btn-fw"> <i class="ti-search"></i> Rechercher </button>
            
            </div>
            
          </li>
        </ul>
        </form>
        </div>
              
            <div class="col-md-12 grid-margin stretch-card">
            
              <div class="card">
                <div class="card-body">
                  <p class="card-title mb-0">Listes Des Puces</p>
                  <div class="table-responsive">
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th>Numero </th>
                          <th>code</th>
                          <th>Type de puce</th>
                          <th>Etat</th>
                          <th>Observation</th>
                          <th>Actions</th>
                        </tr>
                      </thead>
                        <tr th:each="p:${lsPuces}">
                          <td th:text="${p.numero}"></td>
                          <td th:text="${p.code}"></td>
                           <td th:text="${p.type_puce}"></td>
                           <td th:text="${p.etat}"></td>
                           <td th:text="${p.observation}"></td>
                        <td>
                             <a href="#editEmployeeModal" class="edit" data-toggle="modal"  th:attr="data-target='#modifier_' + ${p.id}">	
                             <i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a> 
<!--                              <form th:action="@{/deletePersonnel}" method="POST" > <a href="#editEmployeeModal" class="edit" data-toggle="modal"></a><button  class="btn" name="idP" th:value="${p.id}" ><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></button></form>
 -->                         <a href="#deleteEmployeeModal" class="delete" data-toggle="modal"  th:attr="data-target='#supp_' + ${p.id}" ><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
                        </td> 																																
                        </tr>
                    
                    </table>
                                                              <b> Exporter vers Excel</b> <a href="/downloadC"><img src="images/d.jpg" height="60"/></a>
                    
                  </div>
                </div>
              </div>
            </div>
          <!-- Delete Modal HTML -->
                          <div th:each="p:${lsPuces}"> 
          
	<div  th:id="'supp_'+${p.id}" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<form th:action="@{/deletePuces}" method="POST">
				                   <input th:value="${p.id}" hidden="hidden" name="idPu"/>
				
					<div class="modal-header">						
						<h4 class="modal-title">Suppression du personnel</h4>
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					</div>
					<div class="modal-body">					
						<p>Êtes-vous sur de vouloir supprimer cette personne ?</p>
						<p class="text-warning"><small>Cette action ne peut être annulée par la suite</small></p>
					</div>
					<div class="modal-footer">
						<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel"/>
						<input type="submit" class="btn btn-danger" value="Delete"/>
					</div>
				</form>
			</div>
		</div>
	</div> 
	</div>
          <!-- fin Delete Modal HTML -->
                              		                            

                <!-- test -->
                <div th:each="p:${lsPuces}"> 
                		<div class="modal fade" th:id="'modifier_'+${p.id}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  					aria-hidden="true">
  		<div class="modal-dialog modal-notify modal-info" role="document">
 

    <!--Content-->
    <div class="modal-content">
                  <div class="modal-content text-center">
              <div class="card">
                <div class="card-body" >
                  <h4 class="card-title">Formulaire</h4>
                  <p class="card-description">
Modifier les informations souhaitées:
                  </p>
                 <form class="forms-sample" th:action="@{/editPuce}" method="POST" >
                   <input th:value="${p.id}" hidden="hidden" name="idP"/>
                   <div class="form-group">
                      <label for="exampleInputUsername1">Numero de puce</label>
                      <input type="text" class="form-control" id="exampleInputMobile" th:value="${p.numero}" name="numero" placeholder="Veuillez saisir le matricule"/>
                    </div>
                    <div class="form-group">
                      <label for="exampleInputEmail1">Code puce</label>
                      <input type="text" class="form-control" id="exampleInputUsername1" th:value="${p.code}" name="code" placeholder="Veuillez saisir le nom"/>
                    </div>
                    <div class="form-group">
                      <label for="exampleInputPassword1">Type de puce</label>
<select class="form-control" id="exampleInputPassword1" name="type_puce">
                       <option   th:text="${p.type_puce}" selected="selected" ></option>                           

                            <option  th:text="Data" th:if="${p.type_puce != 'data'}" th:value="data" ></option>
                            <option   th:text="Voix" th:if="${p.type_puce != 'voix'}" th:value="voix"></option>
                        
                        </select>                    
                        </div>
                    <div class="form-group">
                      <label for="exampleInputPassword1">Etat de puce</label>
                      <select class="form-control" id="exampleInputPassword1" name="etat">
                       <option   th:text="${p.etat}" selected="selected" ></option>                           
                            <option  th:text="en+' '+Stock" th:if="${p.etat != 'enStock'}" th:value="enStock" ></option>
                            <option   th:text="Résilliée" th:if="${p.etat != 'resilliee'}" th:value="resilliee"></option>
                            <option   th:text="Affectée"  th:if="${p.etat != 'affectee'}" th:value="affectee"></option>
                            
                        
                        </select> 
                    </div>
                    <div class="form-group">
                      <label for="exampleInputConfirmPassword1" >Observation</label>
                       <input type="text" class="form-control" id="exampleInputConfirmPassword1"   th:value="${p.observation}" name="observation" placeholder="-- Facultatif --"/>

                      </div>
                     <button type="submit" class="btn btn-primary mr-2">Ok</button>
                    <button type ="button" class="btn btn-light" data-dismiss="modal">Annuler</button>
                  </form>
                  </div>
                </div>
              </div>
            </div>
             </div>
    <!--/.Content-->

  </div>
</div>
                </div>
                
<!--Modal: modalYT-->   
                <!-- end test -->
          </div>
          
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
        <footer class="footer">
          <div class="d-sm-flex justify-content-center justify-content-sm-between">
            
          </div>
        </footer>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    </div>
    <!-- page-body-wrapper ends -->
  <!-- container-scroller -->

  <!-- plugins:js -->
  <script src="vendors/base/vendor.bundle.base.js"></script>
  <!-- endinject -->
  <!-- Plugin js for this page-->
  <script src="vendors/chart.js/Chart.min.js"></script>
  <!-- End plugin js for this page-->
  <!-- inject:js -->
  <script src="js/off-canvas.js"></script>
  <script src="js/hoverable-collapse.js"></script>
  <script src="js/template.js"></script>
  <script src="js/todolist.js"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="js/dashboard.js"></script>
  <!-- End custom js for this page-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>

</html>

